/*
MAIN
*/
	main{
    margin-top: 100px;
    
}

	.PrimerContenedor{
    color: white;
    text-align: center;
    
}
	h3{
	color: darkgoldenrod;
	text-align: center;
	font-size: 40px;
}
	#imagen_main{
    margin-left: 20% auto;
    width: 60%;
    height: auto;
    border-radius: 25% 10%;
   
    
}

	.SegundoContenedor{
    width: 100%;
    height: 40%;
    
}

	.preguntas_frecuentes{
    color: white;
    text-align: center;
}
	summary{
    font-size: 1.4rem;
    color: rgb(79, 77, 77);
}

	p{
    font-size: 1.3rem;
    color: rgb(161, 157, 157);
    
}

/* Flecha en contenido colapsado */
	details summary::marker {
    content: "⮞ ";
    color: darkgoldenrod;
    font-size: 1.5rem;
  }
  
  /* Flecha en contenido desplegado */
   details[open] summary::marker {
    content: "⮟ ";
  }
  
	.mapa{
	margin-top: 10%;
	margin-bottom: 5%;
    margin-left: 15px;
	
}


