
/*
MAIN
*/

#odontologo{

    margin-top: 10%;
    float: left;
    width: 400px;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
}
.texto1{
    color:grey;
 }

h2{
   
    margin-top: 15%;
    color:darkgoldenrod;
}

h1{
    margin-top: 10%;
    color: grey;
}

#higienista{

    margin-top: 10%;;
    float:right;
    width: 400px;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
}
 
.texto2{
    color:grey;
    text-align:right;
   
}
#administrativa{
    margin-top: 20px;
    float: left;
    width: 400px;
    height: 500px;
    margin-left: 20px;
    margin-right: 20px;
}
.texto3{
   /* margin-top: 10%;*/
    color:grey;
    text-align: left;
}

