

/*
SECTION
*/

.tratamientos{
    margin-top: 10%;
    display: flex;
    justify-content:center;
}

.tratamientos .contenedor{
    width: 90%;
    border-radius: 25% 10%;
    padding:  30px 30px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2,35%);
   
}
h1{
    margin-top: 20%;
    font-size: 50px;
    color:darkgoldenrod;
    text-align: center;
    
}
.division{
    margin-top: 3%;
    color: darkgoldenrod;
}
.logos_odontologo{
    width: 60%;
    margin-left: 55%;
   
}

